rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/postComments/{postCommentId} {
      allow read: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2023, 12, 31); 
          }

 
    match /users/{uid}{
      allow read: if isAuthenticated();
      allow update: if isAdmin();
      allow create, delete: if isTheSameUserOrAdmin(uid);
      match /userMutes/{activeUid} {
        allow create, delete: if isTheSameUserOrAdmin(activeUid);
      }
      match /tokens/{tokenId}{
        allow read, create, delete: if isTheSameUserOrAdmin(uid);
      }
      match /followers/{followerUid} {
        allow create, delete: if isTheSameUserOrAdmin(followerUid);
      }
      match /posts/{postId} {
        allow read: if isAuthenticated();
        allow update: if isAdmin();
        allow create, delete: if isTheSameUserOrAdmin(uid);
        match /postLikes/{activeUid} {
          allow create, delete: if isTheSameUserOrAdmin(activeUid);
        }
        match /postComments/{postCommentId} {
          allow read: if isAuthenticated();
          allow create: if isAuthenticated();
         //PostCommentのdataのuidが現在ログインしている人と一致していれば消去できる
          allow delete: if isTheSameUserOrAdmin(request.resource.data.uid);
          match /postCommentLikes/{activeUid} {
            allow create, delete: if isTheSameUserOrAdmin(activeUid);
          }
          match /postCommentReplies/{postCommentReplyId} {
            allow read, create: if isAuthenticated();
            // allow create, delete: if isTheSameUserOrAdmin(uid);
            //PostCommentRepliesのdataのuidが現在ログインしている人と一致していれば消去できる
            allow delete: if isTheSameUserOrAdmin(request.resource.data.uid);
            match /postCommentReplyLikes/{activeUid} {
              allow create, delete: if isTheSameUserOrAdmin(activeUid);
            }

          }
        }
      }
    }
  } 

  function isAuthenticated() {
  return request.auth != null;
  }
  function isTheSameUserOrAdmin(uid){
    return request.auth.uid == uid || isAdmin();
  }
  function isAdmin() {
    return request.auth.uid == "NuEWx6mE6uVlGOZ4AgunJuVIdXf1";
  }
}